@font-face {
  font-family: 'DIN 1451';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/din1451a.woff2") format("woff2"), 
       url("/fonts/din1451a.woff") format("woff");
}

.din {
  display: block;
  font-family: 'DIN 1451';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

@font-face {
  font-family: 'Marklin Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/maerklinpiktos-webfont.woff2) format('woff2'),
       url(/fonts/maerklinpiktos-webfont.woff) format('woff');
}

.marklin {
  border-bottom: 0;
  display: block;
  float: left;
  font-family: 'Marklin Icons';
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  margin-right: .935rem;
  padding: 3px 0 15px 0;
  text-align: center;
  width: 86px;
}