@import url("fonts.css");
@import url("DatePickerX.css");

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    opacity: 0;
    top: -300px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes animatetop {
  from {
    opacity: 0;
    top: -300px;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

[hidden],
template {
  display: none;
}

a {
  -webkit-text-decoration-skip: objects;
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0
}

a.nav-button,
button.tabLinks {
  padding: 0.3rem;
}

a.nav-button,
button.nav-button,
button.tabLinks {
  background-color: LightSkyBlue;
  border: 0.1rem solid LightSkyBlue;
  border-radius: 0.3rem;
  color: white;
  font-size: 1rem;
  height: 2.1rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  vertical-align: middle;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted
}

aside,
details,
figcaption,
figure,
main,
menu,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

body {
  border: transparent 0;
  margin: 0;
  opacity: 1;
  overflow: hidden;
  padding: 0 1rem 0 0;
  width: 98%;
}

button {
  background-color: LightSkyBlue;
  border: 0.1rem solid LightSkyBlue;
  border-radius: 0.25em;
  color: white;
  font-size: 1rem;
  padding: 0.3rem 0.3rem;
}

button.form-control-add {
  align-content: center;
  display: grid;
  float: right;
  margin: 0 0 0 0;
  max-height: 1.2rem;
  max-width: 1.3rem;
  min-height: 1.2rem;
  min-width: 1.3rem;
  order: 3;
  padding: 0 0 0 0;
  position: relative;
  transform: translate(0, -0.9rem);
}

button.form-control-del {
  align-content: center;
  display: grid;
  float: right;
  margin: 0 0 0 0;
  max-height: 1.2rem;
  max-width: 1.3rem;
  min-height: 1.2rem;
  min-width: 1.3rem;
  order: 4;
  padding: 0 0 0 0;
  position: relative;
  transform: translate(0, -0.9rem);
}

button.expanding-cell-add,
button.table-cell-add {
  align-content: center;
  display: grid;
  float: right;
  margin: 0 0 0 0;
  max-height: 1.2rem;
  max-width: 1.3rem;
  min-height: 1.2rem;
  min-width: 1.3rem;
  order: 3;
  padding: 0 0 0 0;
  position: relative;
}

button.expanding-cell-del,
button.table-cell-del {
  align-content: center;
  display: grid;
  float: right;
  margin: 0 0 0 0;
  max-height: 1.2rem;
  max-width: 1.3rem;
  min-height: 1.2rem;
  min-width: 1.3rem;
  order: 4;
  padding: 0 0 0 0;
  position: relative;
}

button.img-button {
  border: 0;
  display: inline-grid;
  height: 1.1rem;
  margin: 0 0 0 0;
  max-height: 1.1rem;
  max-width: 1.1rem;
  min-height: 1.1rem;
  min-width: 1.1rem;
  padding: 0 0 0 0;
  text-align: center;
  vertical-align: middle;
  width: 1.1rem;
}

button.img-button:disabled {
  background-color: LightGrey;
  color: White;
}

button.selection {
  background-color: LightSkyBlue;
  border: 0.1rem solid LightSkyBlue;
  border-radius: 0.25em;
  color: white;
  font-size: 1rem;
  height: 0.1rem;
  padding: 0.3rem 0.3rem;
  text-align: right;
  vertical-align: top;
  width: 0.1rem;
}

button.tabLinks[active] {
  background-color: LightSkyBlue;
  border: 0.1rem solid LightSkyBlue;
  border-radius: 0.3rem;
  color: Grey;
  font-size: 1rem;
  height: 2.1rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  padding: 0.3rem 0.3rem;
  vertical-align: baseline;
}

caption {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

caption,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  padding: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1rem;
}

col.expanding-col {
  display: inline-block;
}

dfn {
  font-style: italic;
}

div.autoclose-container {
  background-color: LightYellow;
  border: 1px solid LightSkyBlue;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  top: -3.0rem;
  z-index: 999;
}

div.form-btn {
  border-right: 1rem;
  height: 2.7rem;
  padding-right: 0.5rem;
  text-align: right;
  vertical-align: top;
}

div.form-control.image-select {
  max-width: 6rem;
  min-width: 6rem;
}

div.form-foot {
  font-weight: bold;
  height: fit-content;
  width: 100%;
}

div.form-footer {
  display: table-cell;
  height: 0.3rem;
  text-align: center;
}

div.form-head {
  font-weight: bold;
  height: 2rem;
  width: 100%;
}

div.form-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 3.1rem;
  margin: 0.5rem 0.3rem 0 0.3rem;
  padding: 0;
}

div.form-row {
  align-content: flex-start;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 0 0.5rem 0;
}

div.form-table {
}

div.form-tbody {
  display: block;
}

div.form-tfoot {
  background-color: LightSkyBlue;
  color: white;
  font-weight: bold;
  height: fit-content;
  padding: 0;
  text-align: center;
  width: 100%;
}

div.form-thead {
  background-color: LightSkyBlue;
  color: white;
  display: flex;
  font-weight: bold;
  height: 2.3rem;
  padding: 0;
  text-align: left;
  width: 100%;
}

div.form-thead > button.nav-button,
div.form-heading-btn {
  height: 2rem;
  text-align: right;
  vertical-align: middle;
}

div.home,
div.title {
  display: flow-root;
}

div.img-button {
  display: inline-flex;
  vertical-align: top;
}

div.popup-filters {
  align-content: flex-start;
  align-items: baseline;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
}

div.popup-filter {
  align-content: center;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: hidden;
}

div.popup-item {
  flex: auto;
}

label.popup-label {
  min-width: 12ch;
}

select.popup-control {
  height: 20rem;
  min-width: 50ch;
}

div.popup-form {
  display: flow-root;
}

div.thumb-container {
  align-content: flex-start;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
}

div.thumb-item {
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 0;
  height: 3.1rem;
  min-width: 10%;
  order: 1;
  margin: 0.1rem 0 0.1rem 0;
  padding: 0.3rem 0 0.3rem 0;
  width: 10%;
}

fieldset {
  border: 0.1rem solid RoyalBlue;
  margin: 0 0.2rem;
  padding: 0.3rem 0.625rem 0.75rem;
}

figure {
  margin: 0.1rem 4rem;
}

footer {
  background-color: inherit;
  bottom: 0;
  color: grey;
  height: 5rem;
  margin-top: 0.3rem;
  position: fixed;
  width: inherit;
}

h1 {
  font-size: 3rem;
}

h1.title {
  float: left;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

header {
  background-color: inherit;
  height: auto;
  position: fixed;
  top: 0;
  width: inherit;
}

hr {
  border-top: 0.1rem solid RoyalBlue;
  box-sizing: content-box;
  display: block;
  height: 0;
  margin: 0.5rem 0;
  overflow: visible;
  text-align: center;
  width: 100%;
}

html {
  -ms-text-size-adjust: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-text-size-adjust: auto;
  background-color: LightYellow;
  box-sizing: border-box;
  border-radius: 0.25em;
  display: block;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  line-height: 0.15rem;
  overflow: hidden;
  padding: 0.5rem;
}

img {
  border-style: none;
  text-align: center;
}

img.expanding-cell-select,
img.form-control,
img.form-control-select,
img.table-cell-select {
  max-height: 3rem;
  max-width: 8rem;
  order: 2;
  writing-mode: vertical-lr;
}

img.expanding-cell-select[data-disabled="false"],
img.form-control-select[data-disabled="false"],
img.table-cell-select[data-disabled="false"] {
  background-color: White;
}

img.img-button {
  border: 0;
  display: inline-grid;
  height: 1.2rem;
  margin: -1px -1px 1px -1px;
  padding: 0;
  width: 1.2rem;
}

img.img-display {
  border: 0;
  height: 100%;
  margin: 0.1rem 0.3rem;
  padding: 0;
  vertical-align: bottom;
  width: auto;
}

img.lingo {
  border: 1px solid LightSkyBlue;
  float: right;
  height: 20px;
  margin: 0.3rem 0.3rem;
  padding: 0;
  vertical-align: middle;
  width: auto;
}

img.logo {
  border: 0;
  float: right;
  height: 40px;
  margin: 0.1rem 0.5rem;
  padding: 0;
  vertical-align: middle;
  width: auto;
}

img.nav-button {
  background-color: inherit;
  border-style: none;
  height: 1.3rem;
  margin: 0 0 0.1rem 0;
  padding: 0;
  text-align: center;
  vertical-align: top;
  width: 1.3rem;
}

img.image-select {
  background-color: Ivory;
  max-height: 3rem;
  max-width: 3rem;
}

img.expanding-cell,
img.table-cell {
  order: 2;
  margin-left: 1rem;
  max-height: 2.25rem;
  max-width: calc(100% - 2.7rem);
  vertical-align: bottom;
}

img.thumb-display {
  border: 0;
  margin: 0.1rem 0 0.1rem 0;
  max-height: 5rem;
  padding: 0;
  vertical-align: bottom;
  width: 100%;
}

input,
select,
textarea {
  border: 0;
  font: inherit;
  background-color: Ivory;
  color: inherit;
  height: 2.25rem;
  margin: 0.3rem;
  overflow: hidden;
  width: 100%;
}

input:invalid {
  border: red 1px dot-dot-dash;
}

input[active],
select[active],
textarea[active] {
  border: 0.1rem dotted gray;
  background-color: LemonChiffon;
}

input[disabled],
select[disabled],
textarea[disabled] {
  border: none;
  background-color: inherit;
}

input[focus],
select[focus],
textarea[focus] {
  border: 0.1rem dotted gray;
  background-color: LemonChiffon;
}

input[type="checkbox"] {
  cursor: pointer;
  display: inline-block;
  height: 2.1rem;
  margin-left: 1rem;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 2.1rem;
}

input.gerausch,
input.programmable {
  -webkit-appearance: unset;
}

input[type="date"] {
  border: 0;
  margin: 0;
  padding: 0;
}

input.autoselect {
  margin: 0;
  width: 95%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  /* -webkit-appearance: none; */
  margin: 0;
}

input[type="url"],
.table-url {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

input[type="url"]:hover,
.table-url:hover {
  text-decoration: none;
  text-shadow: 1px 1px 1px DimGrey;
}

label.form-label {
  color: Grey;
  display: block;
  flex: none;
  font-weight: bold;
  line-height: 0.7;
  margin: 0.1rem 0 0 0;
  order: 1;
  padding: 0.3rem 0 0 0;
  text-align: left;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

li.autoselect,
li.image-select {
  background-color: LightYellow;
  margin: 0.2rem;
}

li.autoselect.selected,
li.image-select.selected {
  background-color: Ivory;
  border: 1px dashed LightSkyBlue;
}

li.nav {
  display: block;
  float: left;
}

mark {
  background: RoyalBlue;
  color: Black;
}

nav {
  display: inline-block;
  color: inherit;
  padding: 0.5rem 0;
  width: 100%;
}

optgroup {
  font-weight: bold;
}

option {
  background-color: inherit;
}

p {
  line-height: 1.5;
}

progress {
  vertical-align: baseline;
}

section {
  background-color: inherit;
  height: auto;
  position: fixed;
  width: inherit;
}

select optgroup {
  background-color: Ivory;
  text-align: left;
}

select optgroup option {
  background-color: Ivory;
  padding-left: 0.5rem;
}

select option {
  background-color: Ivory;
  text-align: left;
}

small {
  font-size: 0.8rem;
}

sub {
  bottom: -0.2rem;
}

sub,
sup {
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.1rem;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
  border-bottom: 0.1rem solid LightSkyBlue;
  overflow: hidden;
  padding: 0;
  text-align: left;
  vertical-align: middle;
  width: 100%;
}

table.expanding-table {
  display: flex;
  flex-flow: column;
}

tbody {
  flex: 2 2 auto;
  height: 31.8rem;
  max-height: 31.8rem;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  scrollbar-width: thin;
  width: 100%;
}

tbody.expanding-tbody {
  display: block;
  flex: 2 2 auto;
  height: 31.8rem;
  max-height: 31.8rem;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  scroll-behavior: auto;
  scrollbar-width: thin;
  width: 100%;
}

tbody::-webkit-scrollbar {
  width: 0.5rem;
}

tbody::-webkit-scrollbar-track {
  background: inherit;
  border: 0.1rem solid lightGrey;
}

tbody::-webkit-scrollbar-thumb {
  background-color: lightGrey;
  border-radius: 0.3rem;
  border: 0.1rem solid lightGrey;
}

td.expanding-cell,
td.table-cell {
  height: 2.5rem;
  vertical-align: middle;
}

td.expanding-cell-btn,
td.table-cell-btn {
  border-right: 1rem;
  height: 2.5rem;
  margin-top: 0.3rem;
  padding-right: 0.5rem;
  text-align: right;
  vertical-align: middle;
}

td.footer {
  height: 2.5rem;
  text-align: center;
}

td.expanding-footer {
  height: 0.3rem;
  text-align: center;
}

td.table-next {
  height: 2.5rem;
  text-align: right;
}

td.table-prev {
  height: 2.5rem;
  text-align: left;
}

textarea {
  overflow: auto;
}

tfoot {
  background-color: LightSkyBlue;
  color: white;
  font-weight: bold;
  height: fit-content;
  padding: 0;
  text-align: center;
  width: 100%;
}

tfoot.expanding-tfoot {
  width: 100%;
}

th.expanding-heading {
  height: 2rem;
  text-align: center;
  vertical-align: middle;
}

th.expanding-heading-btn {
  height: 2rem;
  text-align: right;
  vertical-align: middle;
}

th.table-heading {
  height: 2rem;
  text-align: center;
  vertical-align: middle;
}

th.table-heading-btn {
  height: 2rem;
  text-align: right;
  vertical-align: middle;
}

thead {
  background-color: LightSkyBlue;
  color: white;
  font-weight: bold;
  height: 2.3rem;
  padding: 0;
  text-align: left;
  width: 100%;
}

thead.expanding-thead {
  display: table;
  flex: 0 0 auto;
  table-layout: fixed;
  width: 100%;
}

tr.expanding-foot {
  display: table;
  font-weight: bold;
  height: fit-content;
  table-layout: fixed;
  width: 100%;
}

tr.expanding-head {
  display: table;
  font-weight: bold;
  height: 2rem;
  table-layout: fixed;
  width: 100%;
}

tr.expanding-row {
  display: table;
  height: 3.1rem;
  table-layout: fixed;
  width: 100%;
}

tr.table-foot {
  font-weight: bold;
  height: fit-content;
  width: 100%;
}

tr.table-head {
  font-weight: bold;
  height: 2rem;
  width: 100%;
}

tr.table-row {
  height: 3.1rem;
  width: 100%;
}

tr:hover {
  background-color: Khaki;
}

tr:nth-child(even) {
  background-color: CornSilk;
}

tr:nth-child(even):hover {
  background-color: Khaki;
}

ul.autoselect,
ul.image-select {
  background-color: LightYellow;
  cursor: pointer;
  line-height: 2.25rem;
  list-style-type: none;
  margin: 0;
  max-height: 13.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.1rem;
}

ul.footer {
  border: none;
  display: inline;
  line-height: 2.5rem;
  list-style-type: none;
  margin-left: 0;
  overflow: hidden;
  padding: 0.5rem;
  width: 100%;
}

ul.footer li {
  display: inline;
  float: left;
}

ul.footer li:last-of-type {
  float: right;
}

ul.nav {
  border: none;
  line-height: 2.5rem;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0.5rem;
  width: 100%;
}

ul.nav {
  display: inline-block;
  width: 90%;
}

ul.nav > li {
  display: inline-block;
}

ul::-webkit-scrollbar {
  width: 0.5rem;
}

ul::-webkit-scrollbar-track {
  background: inherit;
  border: 0.1rem solid lightGrey;
}

ul::-webkit-scrollbar-thumb {
  background-color: lightGrey;
  border-radius: 0.3rem;
  border: 0.1rem solid lightGrey;
}

.about {
  padding: 1rem;
}

.about-body {
  background-color: LightSkyBlue;
  color: white;
  overflow: hidden;
}

.about-body textarea {
  background-color: LightSkyBlue;
  border: none;
  box-sizing: border-box;
  color: white;
  height: 30rem;
  line-height: 1.2rem;
  overflow: auto;
  padding: 1rem;
  width: 80rem;
}

.about-body textarea[focus] {
  border: none;
}

.about-footer {
  background-color: LightSkyBlue;
  color: White;
  height: 2rem;
  width: 100%;
}

.about-header {
  background-color: LightSkyBlue;
  color: white;
  height: 5rem;
  width: 100%;
}

.alert {
  background-color: Red;
  border: 0 solid transparent;
  color: White;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: left;
  vertical-align: baseline;
  width: 100%;
  z-index: 999;
}

.closebtn {
  cursor: pointer;
  font-weight: bold;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.closebtn:hover {
  background-color: GrayText;
}

.display-img {
  border-radius: 3rem;
  height: 50rem;
  padding: 0.5rem;
}

.display-pdf-bar {
  height: 2rem;
}

.display-pdf-canvas {
  height: 95%;
  text-align: center;
  width: 100%;
}

.display-pdf-container {
  background-color: white;
  height: 100%;
  padding: 1.5rem;
}


.dropdown {
  display: inline-block;
  position: relative;
  z-index: 99;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  background-color: LightSkyBlue;
  box-shadow: 0px 0.4rem 1.25rem 0 rgba(0,0,0,0.2);
  display: none;
  min-width: 15rem;
  position: absolute;
  transform: translate(-9.5rem, 0.25rem);
  z-index: 99;
}

.dropdown-content a {
  color: White;
  display: block;
  padding: 1rem 1.25rem;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: RoyalBlue;
}

.form-control {
  display: block;
  flex: 1 1 auto;
  order: 2;
}

.form-control-picker[readonly]:enabled {
  border: 0;
  background-color: Ivory;
}

.gerausch::after,
.programmable::after {
  background-size: cover;
  content: '\0020';
  display: inline-block;
  height: 2.1rem;
  max-height: 2.1rem;
  max-width: 2.1rem;
  min-height: 2.1rem;
  min-width: 2.1rem;
  position: relative;
  width: 2.1rem;
}

.gerausch:checked::after {
  background-image: url('../img/gerausch.png');
}

.gerausch:not(:checked)::after { 
  background-image: url('../img/gerauschlos.png');
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  text-align: -webkit-center;
  top: 0;
  vertical-align: middle;
  width: 100%;
  z-index: 1;
}

.modal-content {
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: animatetop;
  animation-duration: 0.4s;
  animation-name: animatetop;
  background-color: LightSkyBlue;
  border: 0.2rem LightSkyBlue;
  height: fit-content;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  top: 6rem;
  width: fit-content;
}

.programmable:checked::after {
  background-image: url('../img/programmierbar.png');
}

.programmable:not(:checked)::after { 
  background-image: url('../img/fest.png');
}

.the-datepicker__container {
  max-width: 15rem;
}

.the-datepicker__container.the-datepicker__container--over .the-datepicker__main {
  border-top-left-radius: 0.3rem;
}

.the-datepicker__container.the-datepicker__container--left .the-datepicker__main {
  border-top-left-radius: 0.3rem;
}

.the-datepicker__container.the-datepicker__container--over.the-datepicker__container--left .the-datepicker__main {
  border-bottom-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.the-datepicker__header {
  max-height: 4rem;
}

.the-datepicker__main {
  background-color: Ivory;
  border: 1px solid Grey;
  border-radius: 0.3rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1rem;
  padding: 0.4rem;
  position: relative;
  top: -10rem;
}

.the-datepicker__main .the-datepicker__body {
  margin-top: 1rem;
}

.the-datepicker__main th.the-datepicker__week-day {
  color: White;
  font-size: 0.85rem;
  max-width: 2.1rem;
  min-width: 2.1rem;
  padding: 0.4rem 0;
  width: 2.1rem;
}

.the-datepicker__main .the-datepicker__day--weekend,
.the-datepicker__main .the-datepicker__week-day--weekend {
  color: Crimson;
}

.the-datepicker__main td.the-datepicker__day--today {
  background-color: Crimson;
  font-weight: bold;
}

.the-datepicker__main a.the-datepicker__button {
  border-radius: 0.3rem;
  color: DodgerBlue;
  max-width: 2.1rem;
  min-width: 2.1rem;
  padding: 0.4rem 0;
  width: 2.1rem;
}

.the-datepicker__main a.the-datepicker__button:hover {
  background-color: LightBlue;
}

.the-datepicker__main .the-datepicker__title-content {
  padding: 0.4rem;
}

.the-datepicker__main .the-datepicker__navigation {
  margin-top: 0.3rem;
}

.the-datepicker__main select.the-datepicker__select {
  font-size: 0.9rem;
}

.the-datepicker__main td.the-datepicker__cell a.the-datepicker__button {
  padding: 0.1rem;
}

.the-datepicker__main td.the-datepicker__cell a.the-datepicker__button .the-datepicker__day-content {
  padding: 0.4rem 0;
}

.the-datepicker__main td.the-datepicker__day a.the-datepicker__button .the-datepicker__day-content {
  border-radius: 0.3rem;
}

.the-datepicker__main td.the-datepicker__day a.the-datepicker__button:hover .the-datepicker__day-content {
  background-color: LightBlue;
}

.the-datepicker__main td.the-datepicker__day--highlighted a.the-datepicker__button .the-datepicker__day-content {
  background-color: LightBlue;
}

.the-datepicker__main td.the-datepicker__day--outside a.the-datepicker__button {
  color: LightSkyBlue;
}

.the-datepicker__main td.the-datepicker__day--unavailable a.the-datepicker__button {
  color: DarkGrey;
}

.the-datepicker__main td.the-datepicker__day--selected a.the-datepicker__button,
.the-datepicker__main td.the-datepicker__day--selected.the-datepicker__day--highlighted a.the-datepicker__button {
  color: Ivory;
}

.the-datepicker__main td.the-datepicker__day--selected a.the-datepicker__button .the-datepicker__day-content,
.the-datepicker__main td.the-datepicker__day--selected.the-datepicker__day--highlighted a.the-datepicker__button .the-datepicker__day-content {
  background-color: DodgerBlue;
}

.the-datepicker__main td.the-datepicker__day--selected a.the-datepicker__button:hover .the-datepicker__day-content,
.the-datepicker__main td.the-datepicker__day--selected.the-datepicker__day--highlighted a.the-datepicker__button:hover .the-datepicker__day-content {
  background-color: DodgerBlue;
}

.the-datepicker__deselect-button {
  color: DodgerBlue;
}

.tooltip {
  border-bottom: 1px dashed LightGrey;
  position: relative;
}

.tooltip:before {
  background: LightGrey;
  border: solid LightGrey;
  border-radius: 0.1rem;
  color: Ivory;
  content: attr(data-tooltip);
  display: none;
  font-size: 0.8rem;
  height: 1.2rem;
  left: calc(100% - 3rem);
  margin: 0.2rem 0rem -0.5rem 0rem;
  opacity: 0;
  padding: 0.9rem 0.4rem 0rem 0.4rem;
  position: absolute;
  top: 4rem;
  transform: translateY(-50%);
  width: max-content;
  text-align: justify;
  transition: 0.3s;
  vertical-align: bottom;
  z-index: 1000;
}

.tooltip:hover:before {
  display: inline-block;
  opacity: 1;
}

#anderungen_tbody {
  height: 13rem;
  max-height: 13rem;
  min-height: 13rem;
}

#adressen_tbody,
#cvs_tbody,
#funktionen_tbody {
  height: 28.3rem;
  max-height: 28.3rem;
  min-height: 28.3rem;
}

#fahrzeugen_tbody {
  height: 26rem;
  max-height: 26rem;
  min-height: 26rem;
}

#teilen_tbody {
  height: 13rem;
  max-height: 13rem;
  min-height: 13rem;
}

#unterKategorien_tbody {
  height: 31.2rem;
  max-height: 31.2rem;
  min-height: 31.2rem;
}
